.sprite { background: url('images/sprite.png') no-repeat top left; width: 100px; height: 120px; } 
.sprite.archers { background-position: 0 0; } 
.sprite.arrows { background-position: -107px 0; } 
.sprite.baby-dragon { background-position: -213px 0; } 
.sprite.balloon { background-position: -320px 0; } 
.sprite.bandit { background-position: -427px 0; } 
.sprite.barbarian-barrel { background-position: -533px 0; } 
.sprite.barbarian-hut { background-position: -640px 0; } 
.sprite.barbarians { background-position: -747px 0; } 
.sprite.bats { background-position: -853px 0; } 
.sprite.battle-healer { background-position: -960px 0; } 
.sprite.battle-ram { background-position: -1067px 0; } 
.sprite.bomb-tower { background-position: -1173px 0; } 
.sprite.bomber { background-position: -1280px 0; } 
.sprite.bowler { background-position: -1387px 0; } 
.sprite.cannon-cart { background-position: -1493px 0; } 
.sprite.cannon { background-position: -1600px 0; } 
.sprite.clone { background-position: -1707px 0; } 
.sprite.dark-prince { background-position: -1813px 0; } 
.sprite.dart-goblin { background-position: -1920px 0; } 
.sprite.earthquake { background-position: -2027px 0; } 
.sprite.electro-dragon { background-position: -2133px 0; } 
.sprite.electro-giant { background-position: -2240px 0; } 
.sprite.electro-spirit { background-position: -2347px 0; } 
.sprite.electro-wizard { background-position: -2453px 0; } 
.sprite.elite-barbarians { background-position: -2560px 0; } 
.sprite.elixir-collector { background-position: -2667px 0; } 
.sprite.elixir-golem { background-position: -2773px 0; } 
.sprite.executioner { background-position: -2880px 0; } 
.sprite.fire-spirits { background-position: -2987px 0; } 
.sprite.fireball { background-position: -3093px 0; } 
.sprite.firecracker { background-position: -3200px 0; } 
.sprite.fisherman { background-position: -3307px 0; } 
.sprite.flying-machine { background-position: -3413px 0; } 
.sprite.freeze { background-position: -3520px 0; } 
.sprite.furnace { background-position: -3627px 0; } 
.sprite.giant-skeleton { background-position: -3733px 0; } 
.sprite.giant-snowball { background-position: -3840px 0; } 
.sprite.giant { background-position: -3947px 0; } 
.sprite.goblin-barrel { background-position: -4053px 0; } 
.sprite.goblin-cage { background-position: -4160px 0; } 
.sprite.goblin-gang { background-position: -4267px 0; } 
.sprite.goblin-giant { background-position: -4373px 0; } 
.sprite.goblin-hut { background-position: -4480px 0; } 
.sprite.goblins { background-position: -4587px 0; } 
.sprite.golem { background-position: -4693px 0; } 
.sprite.guards { background-position: -4800px 0; } 
.sprite.graveyard { background-position: -4907px 0; } 
.sprite.heal-spirit { background-position: -5013px 0; } 
.sprite.heal { background-position: -5120px 0; } 
.sprite.hog-rider { background-position: -5227px 0; } 
.sprite.hunter { background-position: -5333px 0; } 
.sprite.ice-golem { background-position: -5440px 0; } 
.sprite.ice-spirit { background-position: -5547px 0; } 
.sprite.ice-wizard { background-position: -5653px 0; } 
.sprite.inferno-dragon { background-position: -5760px 0; } 
.sprite.knight { background-position: -5867px 0; } 
.sprite.lava-hound { background-position: -5973px 0; } 
.sprite.lightning { background-position: -6080px 0; } 
.sprite.inferno-tower { background-position: -6187px 0; } 
.sprite.lumberjack { background-position: -6293px 0; } 
.sprite.mega-minion { background-position: -6400px 0; } 
.sprite.miner { background-position: -6507px 0; } 
.sprite.mega-knight { background-position: -6613px 0; } 
.sprite.magic-archer { background-position: -6720px 0; } 
.sprite.mini-pekka { background-position: -6827px 0; } 
.sprite.minion-horde { background-position: -6933px 0; } 
.sprite.minions { background-position: -7040px 0; } 
.sprite.mirror { background-position: -7147px 0; } 
.sprite.mortar { background-position: -7253px 0; } 
.sprite.mother-witch { background-position: -7360px 0; } 
.sprite.musketeer { background-position: -7467px 0; } 
.sprite.night-witch { background-position: -7573px 0; } 
.sprite.pekka { background-position: -7680px 0; } 
.sprite.poison { background-position: -7787px 0; } 
.sprite.prince { background-position: -7893px 0; } 
.sprite.princess { background-position: -8000px 0; } 
.sprite.rage { background-position: -8107px 0; } 
.sprite.ram-rider { background-position: -8213px 0; } 
.sprite.rascals { background-position: -8320px 0; } 
.sprite.rocket { background-position: -8427px 0; } 
.sprite.royal-delivery { background-position: -8533px 0; } 
.sprite.royal-ghost { background-position: -8640px 0; } 
.sprite.royal-giant { background-position: -8747px 0; } 
.sprite.royal-hogs { background-position: -8853px 0; } 
.sprite.royal-recruits { background-position: -8960px 0; } 
.sprite.skeleton-army { background-position: -9067px 0; } 
.sprite.skeleton-barrel { background-position: -9173px 0; } 
.sprite.skeleton-dragons { background-position: -9280px 0; } 
.sprite.skeletons { background-position: -9387px 0; } 
.sprite.sparky { background-position: -9493px 0; } 
.sprite.spear-goblins { background-position: -9600px 0; } 
.sprite.tesla { background-position: -9707px 0; } 
.sprite.the-log { background-position: -9813px 0; } 
.sprite.three-musketeers { background-position: -9920px 0; } 
.sprite.tombstone { background-position: -10027px 0; } 
.sprite.tornado { background-position: -10133px 0; } 
.sprite.valkyrie { background-position: -10240px 0; } 
.sprite.wall-breakers { background-position: -10347px 0; } 
.sprite.witch { background-position: -10453px 0; } 
.sprite.wizard { background-position: -10560px 0; } 
.sprite.x-bow { background-position: -10667px 0; } 
.sprite.zap { background-position: -10773px 0; } 
.sprite.zappies { background-position: -10880px 0; }
