.sprite { background: url('images/sprite.png') no-repeat top left; width: 75px; height: 90px; } 
.sprite.archers { background-position: 0 0; } 
.sprite.arrows { background-position: -80px 0; } 
.sprite.baby-dragon { background-position: -160px 0; } 
.sprite.balloon { background-position: -240px 0; } 
.sprite.bandit { background-position: -320px 0; } 
.sprite.barbarian-barrel { background-position: -400px 0; } 
.sprite.barbarian-hut { background-position: -480px 0; } 
.sprite.barbarians { background-position: -560px 0; } 
.sprite.bats { background-position: -640px 0; } 
.sprite.battle-healer { background-position: -720px 0; } 
.sprite.battle-ram { background-position: -800px 0; } 
.sprite.bomb-tower { background-position: -880px 0; } 
.sprite.bomber { background-position: -960px 0; } 
.sprite.bowler { background-position: -1040px 0; } 
.sprite.cannon-cart { background-position: -1120px 0; } 
.sprite.cannon { background-position: -1200px 0; } 
.sprite.clone { background-position: -1280px 0; } 
.sprite.dark-prince { background-position: -1360px 0; } 
.sprite.dart-goblin { background-position: -1440px 0; } 
.sprite.earthquake { background-position: -1520px 0; } 
.sprite.electro-dragon { background-position: -1600px 0; } 
.sprite.electro-giant { background-position: -1680px 0; } 
.sprite.electro-spirit { background-position: -1760px 0; } 
.sprite.electro-wizard { background-position: -1840px 0; } 
.sprite.elite-barbarians { background-position: -1920px 0; } 
.sprite.elixir-collector { background-position: -2000px 0; } 
.sprite.elixir-golem { background-position: -2080px 0; } 
.sprite.executioner { background-position: -2160px 0; } 
.sprite.fire-spirits { background-position: -2240px 0; } 
.sprite.fireball { background-position: -2320px 0; } 
.sprite.firecracker { background-position: -2400px 0; } 
.sprite.fisherman { background-position: -2480px 0; } 
.sprite.flying-machine { background-position: -2560px 0; } 
.sprite.freeze { background-position: -2640px 0; } 
.sprite.furnace { background-position: -2720px 0; } 
.sprite.giant-skeleton { background-position: -2800px 0; } 
.sprite.giant-snowball { background-position: -2880px 0; } 
.sprite.giant { background-position: -2960px 0; } 
.sprite.goblin-barrel { background-position: -3040px 0; } 
.sprite.goblin-cage { background-position: -3120px 0; } 
.sprite.goblin-gang { background-position: -3200px 0; } 
.sprite.goblin-giant { background-position: -3280px 0; } 
.sprite.goblin-hut { background-position: -3360px 0; } 
.sprite.goblins { background-position: -3440px 0; } 
.sprite.golem { background-position: -3520px 0; } 
.sprite.guards { background-position: -3600px 0; } 
.sprite.graveyard { background-position: -3680px 0; } 
.sprite.heal-spirit { background-position: -3760px 0; } 
.sprite.heal { background-position: -3840px 0; } 
.sprite.hog-rider { background-position: -3920px 0; } 
.sprite.hunter { background-position: -4000px 0; } 
.sprite.ice-golem { background-position: -4080px 0; } 
.sprite.ice-spirit { background-position: -4160px 0; } 
.sprite.ice-wizard { background-position: -4240px 0; } 
.sprite.inferno-dragon { background-position: -4320px 0; } 
.sprite.knight { background-position: -4400px 0; } 
.sprite.lava-hound { background-position: -4480px 0; } 
.sprite.lightning { background-position: -4560px 0; } 
.sprite.inferno-tower { background-position: -4640px 0; } 
.sprite.lumberjack { background-position: -4720px 0; } 
.sprite.mega-minion { background-position: -4800px 0; } 
.sprite.miner { background-position: -4880px 0; } 
.sprite.mega-knight { background-position: -4960px 0; } 
.sprite.magic-archer { background-position: -5040px 0; } 
.sprite.mini-pekka { background-position: -5120px 0; } 
.sprite.minion-horde { background-position: -5200px 0; } 
.sprite.minions { background-position: -5280px 0; } 
.sprite.mirror { background-position: -5360px 0; } 
.sprite.mortar { background-position: -5440px 0; } 
.sprite.mother-witch { background-position: -5520px 0; } 
.sprite.musketeer { background-position: -5600px 0; } 
.sprite.night-witch { background-position: -5680px 0; } 
.sprite.pekka { background-position: -5760px 0; } 
.sprite.poison { background-position: -5840px 0; } 
.sprite.prince { background-position: -5920px 0; } 
.sprite.princess { background-position: -6000px 0; } 
.sprite.rage { background-position: -6080px 0; } 
.sprite.ram-rider { background-position: -6160px 0; } 
.sprite.rascals { background-position: -6240px 0; } 
.sprite.rocket { background-position: -6320px 0; } 
.sprite.royal-delivery { background-position: -6400px 0; } 
.sprite.royal-ghost { background-position: -6480px 0; } 
.sprite.royal-giant { background-position: -6560px 0; } 
.sprite.royal-hogs { background-position: -6640px 0; } 
.sprite.royal-recruits { background-position: -6720px 0; } 
.sprite.skeleton-army { background-position: -6800px 0; } 
.sprite.skeleton-barrel { background-position: -6880px 0; } 
.sprite.skeleton-dragons { background-position: -6960px 0; } 
.sprite.skeletons { background-position: -7040px 0; } 
.sprite.sparky { background-position: -7120px 0; } 
.sprite.spear-goblins { background-position: -7200px 0; } 
.sprite.tesla { background-position: -7280px 0; } 
.sprite.the-log { background-position: -7360px 0; } 
.sprite.three-musketeers { background-position: -7440px 0; } 
.sprite.tombstone { background-position: -7520px 0; } 
.sprite.tornado { background-position: -7600px 0; } 
.sprite.valkyrie { background-position: -7680px 0; } 
.sprite.wall-breakers { background-position: -7760px 0; } 
.sprite.witch { background-position: -7840px 0; } 
.sprite.wizard { background-position: -7920px 0; } 
.sprite.x-bow { background-position: -8000px 0; } 
.sprite.zap { background-position: -8080px 0; } 
.sprite.zappies { background-position: -8160px 0; }
