.sprite { background: url('images/sprite.png') no-repeat top left; width: 66px; height: 79px; } 
.sprite.archers { background-position: 0 0; } 
.sprite.arrows { background-position: -70px 0; } 
.sprite.baby-dragon { background-position: -140px 0; } 
.sprite.balloon { background-position: -210px 0; } 
.sprite.bandit { background-position: -280px 0; } 
.sprite.barbarian-barrel { background-position: -350px 0; } 
.sprite.barbarian-hut { background-position: -420px 0; } 
.sprite.barbarians { background-position: -490px 0; } 
.sprite.bats { background-position: -560px 0; } 
.sprite.battle-healer { background-position: -630px 0; } 
.sprite.battle-ram { background-position: -700px 0; } 
.sprite.bomb-tower { background-position: -770px 0; } 
.sprite.bomber { background-position: -840px 0; } 
.sprite.bowler { background-position: -910px 0; } 
.sprite.cannon-cart { background-position: -980px 0; } 
.sprite.cannon { background-position: -1050px 0; } 
.sprite.clone { background-position: -1120px 0; } 
.sprite.dark-prince { background-position: -1190px 0; } 
.sprite.dart-goblin { background-position: -1260px 0; } 
.sprite.earthquake { background-position: -1330px 0; } 
.sprite.electro-dragon { background-position: -1400px 0; } 
.sprite.electro-giant { background-position: -1470px 0; } 
.sprite.electro-spirit { background-position: -1540px 0; } 
.sprite.electro-wizard { background-position: -1610px 0; } 
.sprite.elite-barbarians { background-position: -1680px 0; } 
.sprite.elixir-collector { background-position: -1750px 0; } 
.sprite.elixir-golem { background-position: -1820px 0; } 
.sprite.executioner { background-position: -1890px 0; } 
.sprite.fire-spirits { background-position: -1960px 0; } 
.sprite.fireball { background-position: -2030px 0; } 
.sprite.firecracker { background-position: -2100px 0; } 
.sprite.fisherman { background-position: -2170px 0; } 
.sprite.flying-machine { background-position: -2240px 0; } 
.sprite.freeze { background-position: -2310px 0; } 
.sprite.furnace { background-position: -2380px 0; } 
.sprite.giant-skeleton { background-position: -2450px 0; } 
.sprite.giant-snowball { background-position: -2520px 0; } 
.sprite.giant { background-position: -2590px 0; } 
.sprite.goblin-barrel { background-position: -2660px 0; } 
.sprite.goblin-cage { background-position: -2730px 0; } 
.sprite.goblin-gang { background-position: -2800px 0; } 
.sprite.goblin-giant { background-position: -2870px 0; } 
.sprite.goblin-hut { background-position: -2940px 0; } 
.sprite.goblins { background-position: -3010px 0; } 
.sprite.golem { background-position: -3080px 0; } 
.sprite.guards { background-position: -3150px 0; } 
.sprite.graveyard { background-position: -3220px 0; } 
.sprite.heal-spirit { background-position: -3290px 0; } 
.sprite.heal { background-position: -3360px 0; } 
.sprite.hog-rider { background-position: -3430px 0; } 
.sprite.hunter { background-position: -3500px 0; } 
.sprite.ice-golem { background-position: -3570px 0; } 
.sprite.ice-spirit { background-position: -3640px 0; } 
.sprite.ice-wizard { background-position: -3710px 0; } 
.sprite.inferno-dragon { background-position: -3780px 0; } 
.sprite.knight { background-position: -3850px 0; } 
.sprite.lava-hound { background-position: -3920px 0; } 
.sprite.lightning { background-position: -3990px 0; } 
.sprite.inferno-tower { background-position: -4060px 0; } 
.sprite.lumberjack { background-position: -4130px 0; } 
.sprite.mega-minion { background-position: -4200px 0; } 
.sprite.miner { background-position: -4270px 0; } 
.sprite.mega-knight { background-position: -4340px 0; } 
.sprite.magic-archer { background-position: -4410px 0; } 
.sprite.mini-pekka { background-position: -4480px 0; } 
.sprite.minion-horde { background-position: -4550px 0; } 
.sprite.minions { background-position: -4620px 0; } 
.sprite.mirror { background-position: -4690px 0; } 
.sprite.mortar { background-position: -4760px 0; } 
.sprite.mother-witch { background-position: -4830px 0; } 
.sprite.musketeer { background-position: -4900px 0; } 
.sprite.night-witch { background-position: -4970px 0; } 
.sprite.pekka { background-position: -5040px 0; } 
.sprite.poison { background-position: -5110px 0; } 
.sprite.prince { background-position: -5180px 0; } 
.sprite.princess { background-position: -5250px 0; } 
.sprite.rage { background-position: -5320px 0; } 
.sprite.ram-rider { background-position: -5390px 0; } 
.sprite.rascals { background-position: -5460px 0; } 
.sprite.rocket { background-position: -5530px 0; } 
.sprite.royal-delivery { background-position: -5600px 0; } 
.sprite.royal-ghost { background-position: -5670px 0; } 
.sprite.royal-giant { background-position: -5740px 0; } 
.sprite.royal-hogs { background-position: -5810px 0; } 
.sprite.royal-recruits { background-position: -5880px 0; } 
.sprite.skeleton-army { background-position: -5950px 0; } 
.sprite.skeleton-barrel { background-position: -6020px 0; } 
.sprite.skeleton-dragons { background-position: -6090px 0; } 
.sprite.skeletons { background-position: -6160px 0; } 
.sprite.sparky { background-position: -6230px 0; } 
.sprite.spear-goblins { background-position: -6300px 0; } 
.sprite.tesla { background-position: -6370px 0; } 
.sprite.the-log { background-position: -6440px 0; } 
.sprite.three-musketeers { background-position: -6510px 0; } 
.sprite.tombstone { background-position: -6580px 0; } 
.sprite.tornado { background-position: -6650px 0; } 
.sprite.valkyrie { background-position: -6720px 0; } 
.sprite.wall-breakers { background-position: -6790px 0; } 
.sprite.witch { background-position: -6860px 0; } 
.sprite.wizard { background-position: -6930px 0; } 
.sprite.x-bow { background-position: -7000px 0; } 
.sprite.zap { background-position: -7070px 0; } 
.sprite.zappies { background-position: -7140px 0; }
